body {
    font-family: 'Manrope';
    font-style: normal;
}

.wrapper-lg {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.header_block {
    display: flex;
    flex-direction: column;
    background: no-repeat url("../img/background.jpg");
    height: 866px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 40px;
    width: 100%;
    height: 72px;
    padding: 22px 0;
}

.header_left {
    display: flex;
    margin-left: 165px;
    padding: 6px 0;
}

.header__nav {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    min-width: 100px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.dropdown-item {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
    margin-top: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header__nav-item {
    color: black;
    margin-left: 32px;
    text-decoration: none;
}

.header__nav-more {
    position: absolute;
    content: "";
    top: 0%;
    left: 30%;
    width: 100%;
    height: 100%;
    background: url(../img/svg/chevron.svg) no-repeat right;
}

.header__nav-more:hover,
.header__nav-more:active>* {
    transform: rotate(180deg) translateX(-80%);
}

.header__nav-item:hover,
.header__nav-item:focus,
.dropdown-item:hover,
.dropdown-item:focus {
    color: #8C30F5;
}


.header_right {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 165px;
}

.header_social {
    margin-left: 12px;
}

.header_social-ico:hover,
.header_social-ico:focus {
    transform: scale(1.05);
    transition: 0.3s;
}

.header_desc-left {
    margin-left: 165px;
}

.header_desc-block {
    display: flex;
    flex-direction: row;
    margin-top: 85px;
}

.header_desc {
    max-width: 730px;
    margin-top: 72px;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}

.header_desc-button {
    margin-top: 32px;
    padding: 16px 41px;
    background: rgba(140, 48, 245, 1);
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: white;
    transition: 0.7s;
}

.header_desc-button:active,
.header_desc-button:hover,
.header_desc-button:focus {
    background: purple;
    transition: 0.7s;
}

.header__burger {
    display: none;
    width: 40px;
    height: 29px;
    margin-left: 30px;
    position: relative;
}

.header__burger:hover,
.header__burger:active,
.header__burger:focus {
    transform: scale(1.05);
    transition: 0.3s;
}

.burger__line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(140, 48, 245, 1);
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/* logos start */
.logos_block {
    margin-top: 604px;
    margin-bottom: 16px;
    padding-top: 24px;
    border-top: 1px solid rgba(192, 204, 218, 0.7);
    border-bottom: 1px solid rgba(192, 204, 218, 0.7);
    padding-bottom: 24px;
    text-align: center;
}

.logos_item {
    margin-right: 64px;
}

.logos_item:hover,
.logos_item:focus {
    transform: scale(1.1);
    transition: 0.5s;
}

/* logos end */

/*  tailor start*/
.tailor_block {
    margin-top: 64px;
}

.tailor_header-head {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.tailor_header-desc {
    max-width: 540px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.tailor_cards {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
}

.tailor_card {
    grid-column: span 2;
    margin-bottom: 48px;
}

.tailor_card-header {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.tailor_card-desc {
    max-width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.tailor_card-ico {
    text-align: center;
    margin-bottom: 24px;
}

/* tailor end */

/* real start */
.real_block {
    background: rgba(213, 250, 252, 1);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
}

.real_left {
    grid-column: span 3;
}

.real_right {
    grid-column: span 3;
}

.real_header {
    display: flex;
    margin-top: 64px;
    margin-left: 165px;
    margin-bottom: 128px;
}

.real_header-head {
    max-width: 445px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.real_header-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.real_header-ico {
    position: relative;
}

.real_header-text {
    position: absolute;
    transform: translate(21%, 35%);
}

.real_card {
    background: white;
    padding: 32px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}

.left_card {
    max-width: 286px;
    margin: 0 0 0 auto;
}

.right_top-card {
    max-width: 381px;
    margin-top: 168px;
    margin-bottom: 32px;
}

#right_top-desc-text {
    max-width: 349px;
}

.right_bottom-card {
    max-width: 286px;
    margin-bottom: 80px;
}

.real_card-header {
    margin-bottom: 32px;
}

.real_card-content {
    display: flex;
}

.real_card-desc {
    margin-left: 16px;
    max-width: 254px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.real_card-desc-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
}

.real_card-desc-position {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #969BAB;
}

/*  real end*/


/* achiev start */
.achiev {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    margin: 80px auto;
    max-width: 1110px;
}

.achiev_left {
    display: grid;
    grid-column: span 6;
    max-width: 540px;
    margin-right: 30px;
}

.achiev_left-header {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.achiev_left-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.achiev_right {
    grid-column: span 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
    max-width: 540px;
}

.achiev_right-card {
    grid-column: span 3;
    display: flex;
    width: 255px;
}

.achiev_right-card-ico {
    display: flex;
    align-items: center;
}

.achiev_right-card-content {
    margin-left: 16px;
}

.achiev_right-card-head {
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
}

.achiev_right-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* achiev end */


/* headline start */
.headline {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    margin: 0 auto;
    max-width: 1110px;
    max-height: 540px;
    width: 100%;
    margin-bottom: 150px;
}

.headline_image {
    text-align: center;
    grid-column: span 3;
}

.headline_image-bg {
    max-width: 540px;
    max-height: 540px;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #F1E4FF;
    border-radius: 8px;
}

.headline_pic {
    position: relative;
    margin-top: 40px;
}

.headline_content {
    display: flex;
    flex-direction: column;
    margin-top: 116px;
    margin-left: 48px;
    grid-column: span 3;
}


.headline_content-header {
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 32px;
}

.headline_content-text {
    max-width: 444px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 62px;
}

.headline_content-link {
    display: inline-block;
    max-width: 112px;
    padding-right: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8C30F5;
    text-decoration: none;
    background: url(../img/svg/right-arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

.headline_content-link:hover,
.headline_content-link:focus {
    background: url(../img/svg/right-arrow.svg) no-repeat right center;
    color: rgba(140, 48, 245, 0.8);
    transition: .2s all;
}

/*headline end*/

/*fashion start  */
.fashion {
    margin: 0 auto;
    padding: 64px 0;
}

.fashion_text {
    display: inline-flex;
    margin-bottom: 48px;
}

.fashion_text-header {
    max-width: 540px;
    margin-right: 30px;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}

.fashion_text-desc {
    max-width: 540px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

/*fashion end  */

/*manage start  */
.manage {
    display: flex;
    background: #2EC5CE;
}

.manage_text {
    max-width: 540px;
    margin-left: 165px;
    padding-top: 68px;
    padding-bottom: 67px;
}

.manage_text-header {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.manage_text-desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.manage_text-icons {
    margin-top: 48px;
}

.manage_text-icons-head {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.manage_text-icons-block {
    margin-top: 8px;
}

.manage_text-icons-block-ico {
    margin-right: 12px;
}

.manage_photo-block {
    display: flex;
    margin-left: 50px;
}

.manage_photo-block-img-bottom {
    margin-top: 88px;
    margin-left: -30px;
}

.manage_text-icons-block-ico:hover,
.manage_text-icons-block-ico:focus {
    transform: scale(1.05);
    transition: 0.3s;
}

/* manage_end */

/*footer start  */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 56px 165px;
    display: flex;
    background: #000;
}

.footer-icon {
    margin-bottom: 24px;
}

.footer-nav {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.footer-nav-item {
    margin-right: 24px;
    text-decoration: none;
    color: white;
}

.footer-nav-item:hover,
.footer-nav-item:focus {
    color: #D9DBE1;
}

.footer-nav-top {
    display: flex;
    margin-bottom: 12px;
}

.footer-nav-bottom {
    display: flex;
    margin-bottom: 24px;
}

.footer-nav-copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}

.footer-text-icons {
    margin-right: 25px;
}

.footer-text-icons-block {
    display: flex;
    flex-direction: column;
}

.footer-text-icons-head {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9DBE1;
}

.footer_text-icons-block-ico:first-child {
    margin-bottom: 16px;
}

.footer_text-icons-block-ico:hover,
.footer_text-icons-block-ico:focus {
    transform: scale(1.05);
    transition: 0.3s;
}

/* foorer end */

/* Media start */
@media screen and (max-width: 1024px) {

    .wrapper-lg,
    .wrapper,
    .header_block {
        max-width: 1024px;
    }

    .header_left {
        margin-left: 65px;
    }

    .header_right {
        margin: 0 65px;
    }

    .header_desc-left {
        margin-left: 65px;
    }

    .logos_block {
        margin-top: 400px;
    }

    .tailor_cards {
        padding: 0 10px;
    }

    .real_header {
        margin-left: 65px;
    }

    .real_header-text {
        transform: translate(28%, 50%);
    }

    .real_header-head {
        max-width: 350px;
        font-size: 40px;
        line-height: 45px;
    }

    .real_header-desc {
        margin-top: 15px;
    }

    .left_card {
        max-width: 360px;
    }

    .real_card-desc {
        max-width: 324px;
    }

    .achiev_left {
        padding-left: 65px;
    }

    .achiev_right-card {
        width: 230px;
    }

    .headline_content-link {
        max-width: 130px;
    }

    .fashion_text {
        padding: 0 65px;
    }

    .fashion_text-desc {
        max-width: 450px;
    }

    .manage_text {
        margin-left: 65px;
    }
}

@media screen and (max-width: 865px) {

    .wrapper-lg,
    .wrapper,
    .header {
        max-width: 865px;
    }

    .header_desc {
        font-size: 45px;
        line-height: 68px;
    }

    .header_logo {
        margin-left: 30px;
    }

    .header_social {
        display: none;
    }

    .header__burger {
        display: block;
        margin-left: 65px;
    }

    .header__nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-top: 120px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 16;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        transform: translateX(100%);
        transition: .4s all linear;
    }

    .header__nav-item {
        margin-left: 0;
        margin-bottom: 10px;
        color: black;
    }

    .header__nav_active {
        transform: translateX(0);
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-size: 30px;
        line-height: 36px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .logos_item {
        margin-right: 30px;
    }

    .tailor_cards {
        margin-bottom: 40px;
    }

    .tailor_card {
        margin-bottom: 40px;
    }

    .real_header {
        margin-left: 35px;
    }

    .real_header-text {
        transform: translate(7%, 50%);
    }

    .left_card {
        margin-left: 30px;
    }

    .real_card-desc {
        font-size: 16px;
        line-height: 30px;
    }

    .right_top-card {
        margin-right: 30px;
    }

    .right_bottom-card {
        max-width: 256px;
    }

    .achiev_right {
        padding: 0;
    }

    .achiev_right-card {
        display: flex;
        align-items: center;
        width: 200px;
    }

    .achiev_right-card-head {
        font-size: 24px;
        line-height: 30px;
    }

    .achiev_left-header {
        font-size: 38px;
        line-height: 44px;
    }

    .achiev_left {
        margin-right: 0;
        padding-left: 35px;
    }

    .headline {
        margin-bottom: 0;
    }

    .headline_image-bg {
        position: static;
    }

    .headline_content {
        margin-left: 18px;
    }

    .headline_content-text {
        padding-right: 35px;
    }

    .fashion_text-desc {
        max-width: 350px;
    }

    .fashion_text {
        padding: 0 30px;
    }

    .fashion_pic {
        width: 100%;
    }

    .manage {
        margin-bottom: 60px;
    }

    .manage_text {
        max-width: 350px;
        margin-left: 30px;
        padding-top: 40px;
        padding-bottom: 0;
    }

    .manage_text-header {
        font-size: 40px;
        line-height: 50px;
    }

    .manage_text-icons {
        margin-top: 28px;
    }

    .manage_photo-block {
        margin-left: 0;
    }

    .footer {
        padding: 56px 60px;
    }
}

@media screen and (max-width: 568px) {

    .wrapper-lg,
    .wrapper {
        max-width: 568px;
    }

    .header_block {
        max-width: 568px;
        background-size: 568px 466px;
        height: auto;
    }

    .header {
        max-width: 568px;
    }

    .header_left {
        margin-left: 0;
    }

    .header_right {
        margin-left: 30px;
    }

    .header__burger {
        margin-left: 35px;
    }

    .header_desc {
        font-size: 26px;
        line-height: 36px;
    }

    .header_desc-left {
        margin-left: 20px;
        max-width: 350px;
    }

    .header_desc-button {
        margin-left: 50px;
    }

    .header_desc-right-pic {
        max-width: 220px;
    }

    .logos_block {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .logos_item {
        margin: 15px 25px;
    }

    .tailor_block {
        margin-top: 84px;
    }

    .tailor_header {
        padding: 10px;
    }

    .tailor_header-head {
        font-size: 32px;
    }

    .tailor_cards {
        margin-bottom: 0;
    }

    .tailor_card {
        grid-column: span 3;
        height: 220px;
        display: flex;
        flex-direction: column;
    }

    .tailor_card-head {
        min-height: 100px;
    }

    .tailor_card-desc {
        display: flex;
        align-items: center;
    }

    .tailor_card-ico {
        margin-bottom: 12px;
    }

    .real_left {
        margin: 0 auto;
        grid-column: span 6;
    }

    .real_right {
        margin: 0 auto;
        grid-column: span 6;
    }

    .real_card {
        max-width: 381px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .real_card-desc {
        max-width: 349px;
    }

    .right_top-card {
        margin-top: 30px;
    }

    .real_header-text {
        transform: translate(25%, 45%);
    }

    .right_bottom-card {
        max-width: 381px;
        margin-bottom: 30px;
    }

    .achiev {
        margin: 40px auto;
    }

    .achiev_right-card {
        display: grid;
        grid-column: span 6;
        margin: 40px 20px;
        text-align: center;
    }

    .achiev_left {
        grid-column: span 12;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
    }

    .achiev_left-header {
        font-size: 34px;
        line-height: 40px;
    }

    .achiev_right {
        grid-column: span 12;
        max-width: 100%;
    }

    .achiev_right-card {
        width: 165px;
        margin-bottom: 20px;
    }

    .achiev_right-card-ico {
        margin: 0 auto 10px;
    }

    .achiev_right-card-content {
        margin: 0;
    }

    .headline {
        display: flex;
        flex-direction: column-reverse;
        max-height: 700px;
        background: #F1E4FF;
        border-radius: 0;
        padding-bottom: 0;
    }

    .headline_content {
        text-align: center;
        margin: 30px 15px;
    }

    .headline_content-header {
        margin-bottom: 24px;
    }

    .headline_content-text {
        margin: 0 auto;
        padding-right: 0;
    }

    .headline_pic {
        max-width: 250px;
        margin-top: 0;
    }

    .headline_content-link {
        margin: 30px auto 0;
    }

    .fashion {
        padding-bottom: 50px;
    }

    .fashion_text {
        display: block;
        text-align: center;
    }

    .fashion_text-header {
        margin: 0 auto 20px;
        font-size: 36px;
        line-height: 52px;
    }

    .fashion_pic {
        max-width: 568px;
        width: 100%;
    }

    .manage {
        padding: 0;
    }

    .manage_text-header {
        font-size: 36px;
        line-height: 60px;
    }

    .manage_text-desc {
        margin-top: 20px;
    }

    .manage_text {
        text-align: center;
        padding: 64px 15px;
        margin: 0 auto;
    }

    .manage_photo-block {
        display: none;
    }

    .footer {
        padding: 20px 0;
    }

    .footer-icon {
        display: none;
    }

    .footer-nav {
        display: flex;
        padding-left: 15px;
        margin-top: 0;
    }

    .footer-nav-top {
        flex-direction: column;
    }

    .footer-nav-bottom {
        flex-direction: column;
    }

    .footer-nav-copy {
        padding-left: 15px;
        font-size: 10px;
        line-height: 20px;
    }

    .footer-text-icons {
        margin-right: 30px;
    }

    .footer-text-icons-head {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 400px) {

    .wrapper-lg,
    .wrapper {
        max-width: 400px;
    }

    .header_block {
        height: 466px;
        background-size: 400px 450px;
    }

    .header {
        max-width: 400px;
    }

    .header_desc {
        font-size: 20px;
        line-height: 30px;
    }

    .header_desc-left {
        max-width: 250px;
    }

    .header_desc-button {
        margin-top: 25px;
        margin-left: 0;
        padding: 10px 33px;
        font-size: 16px;
        line-height: 20px;
    }

    .header_desc-right-pic {
        max-width: 160px;
    }

    .logos_block {
        margin-top: 5px;
    }

    .logos_item {
        margin: 10px;
    }

    .tailor_header {
        padding: 10px;
    }

    .tailor_header-head {
        font-size: 30px;
    }

    .tailor_header-desc {
        font-size: 16px;
    }

    .tailor_card {
        height: 300px;
    }

    .tailor_card-head {
        min-height: 120px;
    }

    .real_header-text {
        transform: translate(0%, 50%);
    }

    .achiev_right-card {
        display: grid;
        grid-column: span 6;
        margin-left: 0;
        margin-bottom: 30px;
        width: 165px;
    }

    .headline_content {
        margin: 20px 15px;
    }

    .headline_pic {
        max-width: 200px;
    }

    .headline_content-link {
        margin: 0 auto;
    }

    .fashion {
        padding-bottom: 60px;
    }

    .fashion_pic {
        max-width: 400px;
        width: 100%;
    }

    .footer-nav {
        padding-left: 15px;
        margin-top: 0;
    }

    .footer-text-icons {
        margin-right: 15px;
    }

    .footer-text-icons-head {
        font-weight: 400;
    }
}

/* media end */